<h1 id="anison-list-header" style="margin-top:210px">Recent Anisons</h1>
<div id="anison-container">
</div>
<script>
    var anisonList = {{.}};
</script>
<script type="text/template" id="anison-tpl">
    <td><%- AnimeTitle %></td>
    <td><%- AnisonTypeText %></td>
    <td class="anison-title" style="cursor:pointer;"><%- AnisonTitle %></td>
</script>

<script type="text/template" id="lab-anison-tpl">
    <td><%- anime.Title %></td>
    <td><%- anison.TypeText %></td>
    <td class="anison-title" style="cursor:pointer;"><%- anison.Title %></td>
</script>