{{append . "moreScripts" "src/index.js"}}
{{append . "moreScripts" "src/lab.js"}}
{{append . "moreStyles" "index.css"}}

{{set . "title" "anisoon"}}
{{template "header.html" .}}

<header class="hero-unit contents-top">
  <div class="container">
    <div class="row">
      <div class="hero-text" style="display:-webkit-box;">
        <div id="nowplaying-info">
        </div>
        <div id="player-container" style="width:45%;">
          <div id="player">
              <h1 style="color:#f7f7f7;">anisooooooon!!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script type="text/template" id="nowplaying-tpl">
  <div class="xsmall">Anime</div>
  <div class="xlarge"><%- anison.AnimeTitle %> </div>
  <div class="xsmall">anison</div>
  <div class="xlarge"><%- anison.AnisonTypeText %> “<%- anison.AnisonTitle %>”</div>
  <div class="xsmall">YouTube</div>
  <div class="xlarge"><%- video.title %></div>
</script>

<div class="container">
  <div class="row">
    <!--
    <div class="span6">
      {{template "flash.html" .}}
    </div>
    -->
  </div>
  <div class="row">
    <div class="span9">
      {{template "partials/stream/index.html" .anisonList}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
