{{append . "moreScripts" "src/lab.js"}}

{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <div id="player-container">
          <div id="player">
              <h1>anisooooooooooon!!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
  <div class="row">
    <div class="span6">
      {{template "partials/lab/lab.html" .anisonList}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
